---
const currentYear = new Date().getFullYear()
---

<footer class="mt-16 mb-10 w-full flex justify-center">
  <div
    class="flex items-center justify-center w-full px-4"
  >
    <span
      class="text-sm text-center text-zinc-800/90 dark:text-zinc-200/90"
    >
      © {currentYear}
      <a
        href="https://thanhluan.site/"
        class="hover:underline"
      >
        thanhluan.site
      </a>
    </span>
  </div>
</footer>
